
<div class="main">
 <div class="contents_row">
  <h1>シフト申請</h1>
  <% @shifts.each do |shift| %>
    <div class="content_post">
      <p><申請一覧></p>
      <span class="name">
        <%= link_to '勤務申請フォーマット', new_shift_path, class:"new_shift"%>
      </span>
    </div>
  <% end %>
 </div>
</div>