
<div class="main">
 <div class="contents_row">
  <h1>シフト申請</h1>
  <%# <% @shifts.each do |shift| %> 
    <div class="content_post">
      <p><申請一覧></p>
      <span class="name">
        <%= link_to '勤務申請はこちらから', new_shift_path, class:"new_shift_path"%>
      </span>
      <div class="content_sub">
       <p><勤怠表></p>
      </div>
    <div class="google-cal">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=M2JjcTY3bWU2Yzc1a2pwYWVuOHFsazd2czBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  <%# <% end %> 

   
 </div>
</div>