<div class="contents row">
  <% @shifts.each do |shift| %>
    <div class="content_post">
      <p><%= shift.work_id %></p>
      <span class="name">
        <%= shift.sum %>
      </span>
    </div>
  <% end %>
</div>