// Place all the styles related to the shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
  height:800px;
}
.contents_row{
  margin-top: 130px;
  text-align: center;
}
.content_post{
  font-size:19px;
  text-align: center;
}
.new_shift{
  color:rgb(16, 15, 15),
}